<template>
  <div>
    <h1>Bookmarks</h1>

    <RepositoriesTable :repositories="Object.values(bookmarks)" />
  </div>
</template>

<script>
import { mapState } from "vuex";
import RepositoriesTable from "@/components/RepositoriesTable.vue";

export default {
  components: {
    RepositoriesTable
  },

  computed: {
    ...mapState("bookmarksStore", { bookmarks: "list" })
  }
};
</script>
