<template>
  <div>
    <h1>Repository Details</h1>
    <p v-if="!repository">
      Loading...
    </p>

    <table v-if="repository">
      <tr>
        <th>ID</th>
        <td>{{ repository.id }}</td>
      </tr>
      <tr>
        <th>Repo Name</th>
        <td>
          <a target="_blank" :href="repository.html_url">
            {{ repository.full_name }}
          </a>
        </td>
      </tr>
      <tr>
        <th>Author</th>
        <td>
          <a target="_blank" :href="repository.html_url"
            ><img
              v-if="repository.owner.avatar_url"
              class="avatar"
              :src="repository.owner.avatar_url"
            />{{ repository.owner.login }}</a
          >
        </td>
      </tr>
    </table>

    <div v-if="readme">
      <h3>Readme</h3>
      <pre>{{ readme }}</pre>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { githubApi } from "../store/api";

export default {
  computed: {
    ...mapState("bookmarksStore", { bookmarks: "list" }),
    ...mapState("githubSearchStore", { searchResults: "list" }),
    fromBookmarks() {
      return this.bookmarks[this.id];
    },
    fromSearchResults() {
      if (!this.searchResults.length) return;
      return this.searchResults.find(r => r.id == this.id) || null;
    },
    repository() {
      const result =
        this.fromBookmarks || this.fromSearchResults || this.localData;
      if (result) return result;

      this.getFromApi();
      return null;
    },
    readme() {
      if (this.localReadme) return this.localReadme;
      this.getReadmeFromApi();
      return null;
    }
  },

  data() {
    return {
      id: this.$route.params.id,
      localReadme: null,
      localData: null
    };
  },

  methods: {
    async getReadmeFromApi() {
      try {
        const response = await githubApi.get(
          `/repos/${this.repository.full_name}/readme`
        );
        const readme = atob(response.data.content);
        this.localReadme = readme;
      } catch {
        this.localReadme = null;
      }
    },

    async getFromApi() {
      const response = await githubApi.get(`/repositories/${this.id}`);
      if (!response.data) this.$router.push({ name: "SearchPage " });
      this.localData = response.data;
    }
  }
};
</script>

<style>
.avatar {
  max-height: 75px;
  height: 75px;
}
pre {
  border: 1px solid gray;
  padding: 2px;
}
</style>
