<template>
  <div>
    <h1>Search</h1>

    <GithubSearchForm />
    <GithubSearchResult />
  </div>
</template>

<script>
import GithubSearchForm from "@/components/GithubSearchForm.vue";
import GithubSearchResult from "@/components/GithubSearchResult.vue";

export default {
  components: {
    GithubSearchForm,
    GithubSearchResult
  }
};
</script>
