<template>
  <span>{{ Object.keys(bookmarks).length }}</span>
</template>

<script>
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState("bookmarksStore", { bookmarks: "list" })
  }
};
</script>
