<template>
  <div>
    <template v-if="initialized">
      <h3>Github Search Results</h3>

      <template v-if="loading">
        Loading...
      </template>

      <template v-else>
        <RepositoriesTable :repositories="repositories" />
      </template>
    </template>
  </div>
</template>

<script>
import { mapState } from "vuex";
import RepositoriesTable from "@/components/RepositoriesTable.vue";

export default {
  components: {
    RepositoriesTable
  },

  computed: {
    ...mapState("githubSearchStore", {
      initialized: "initialized",
      loading: "loading",
      repositories: "list"
    })
  }
};
</script>
