<template>
  <div>
    <h2>Repository Search</h2>

    <form v-on:submit.prevent="submitForm">
      <p>
        <label for="search_text">Use form below to search for a repo</label>
      </p>

      <input
        :disabled="loading"
        v-model="search_text"
        id="search_text"
        type="text"
        placeholder="Type your keyword..."
        autofocus
        required
      />
      <input :disabled="loading" type="submit" value="Search" />
    </form>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      search_text: ""
    };
  },

  computed: {
    ...mapState("githubSearchStore", ["loading"])
  },

  methods: {
    async submitForm() {
      this.$store.dispatch("githubSearchStore/findByKeyword", this.search_text);
    }
  }
};
</script>
