<template>
  <div>
    <p v-if="!repositories.length">
      No results found.
    </p>

    <table v-if="repositories.length">
      <thead>
        <tr>
          <th>Repository Name</th>
          <th>Author</th>
          <th># of Stars</th>
          <th># of Forks</th>
          <th>Bookmark</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="repository in repositories" :key="repository.id">
          <td>
            <router-link
              :to="{ name: 'DetailsPage', params: { id: repository.id } }"
            >
              {{ repository.full_name }}
            </router-link>
          </td>
          <td>{{ repository.owner.login }}</td>
          <td>{{ repository.stargazers_count }}</td>
          <td>{{ repository.forks_count }}</td>
          <td>
            <template v-if="bookmarks[repository.id]">
              <button @click="removeBookmark(repository)">Remove</button>
            </template>

            <template v-else>
              <button @click="addBookmark(repository)">Add</button>
            </template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  props: {
    repositories: {
      type: Array,
      required: true
    }
  },

  computed: {
    ...mapState("bookmarksStore", {
      bookmarks: "list"
    })
  },

  methods: {
    ...mapActions("bookmarksStore", {
      addBookmark: "add",
      removeBookmark: "remove"
    })
  }
};
</script>
