<template>
  <div v-if="message">
    {{ message }}
    <button v-if="revert" @click="revert">Revert</button>
    <hr />
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState("toastStore", ["message", "revert"])
  }
};
</script>
