<template>
  <div id="app">
    Menu:
    <router-link :to="{ name: 'SearchPage' }">Search</router-link> |
    <router-link :to="{ name: 'BookmarksPage' }">Bookmarks</router-link>
    (<BookmarksCountBadge />)
    <hr />
    <Toast />
    <router-view />
  </div>
</template>

<script>
import BookmarksCountBadge from "@/components/BookmarksCountBadge.vue";
import Toast from "@/components/Toast";

export default {
  components: {
    BookmarksCountBadge,
    Toast
  }
};
</script>
